
body{
    background-color:green;
}
p,i,u,b,h1,h2,h3,h4,h5,h6,span{
    color:white;
}

#imag{
    float:left;
}
#imag:hover{
    
}
#divb{
    clear:both;
    
}
#divc{
    clear:both;
}
#imagb{
    float:left;
}
#imagc{
    float:left;
}

#da{
    clear:both;
}































































































